API_BASE_URL=https://<your-api-host>/Prod/api
API_AUTH_TOKEN=Basic <your-base64-credentials>

UI_BASE_URL=https://<your-api-host>/Prod/Account/LogIn
UI_USERNAME=<your-credentials>
UI_PASSWORD=<your-credentials>
UI_HEADLESS=true